{% extends 'base.html' %}
{% block content %}



  {% if blogs|length == 0 %}
  <p>No entries yet!</p>
  {% else %}
  <hr>
    {% if single_blog == None %}
      {% for blog in blogs %}
        <h2><a href= 'blog?id={{blog.id}}'> {{blog.blog_title}} </a></h2>
        <p>{{blog.blog_entry}}</p>
        <p><em>by <a href= 'singleUser?user={{blog.owner_id}}'>
          {% for owner in owners %}
            {% if blog.owner_id == owner.id %}
              {{owner.email}}</a></em></p>
            {% endif %}
          {% endfor %}
        <hr>
      {% endfor %}
    {% else %}
      {% for blog in single_blog_entry %}
      <h2>{{blog.blog_title}}</h2>
      <p>{{blog.blog_entry}}</p>
      {% endfor %}

    {% endif %}
  {% endif %}


{% endblock %}
